@font-face {
  font-family: iconfont; /* Project id 3670180 */
  src: url('//at.alicdn.com/t/c/font_3670180_m4gs3jbctp9.woff2?t=1704113976033') format('woff2'),
  url('//at.alicdn.com/t/c/font_3670180_m4gs3jbctp9.woff?t=1704113976033') format('woff'),
  url('//at.alicdn.com/t/c/font_3670180_m4gs3jbctp9.ttf?t=1704113976033') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_scroll_text::before {
  content: "\e616";
}

.i_preview::before {
  content: "\e678";
}

.i_layer::before {
  content: "\e677";
}

.i_clear::before {
  content: "\e613";
}

.i_see::before {
  content: "\ebcc";
}

.i_unsee::before {
  content: "\ebcd";
}

.i_copy::before {
  content: "\e63e";
}

.i_sunburst::before {
  content: "\ecc0";
}

.i_loudoutu::before {
  content: "\e74e";
}

.i_sankey::before {
  content: "\e62f";
}

.i_radar::before {
  content: "\e64b";
}

.i_kline::before {
  content: "\e675";
}

.i_point::before {
  content: "\e62c";
}

.i_upload::before {
  content: "\e81d";
}

.i_download::before {
  content: "\e86f";
}

.i_export::before {
  content: "\e62b";
}

.i_img::before {
  content: "\e623";
}

.i_delete_2::before {
  content: "\e629";
}

.i_paste::before {
  content: "\e63f";
}

.i_cut::before {
  content: "\e620";
}

.i_zIndex::before {
  content: "\eb73";
}

.i_lock::before {
  content: "\e61b";
}

.i_unlock::before {
  content: "\e61c";
}

.i_shape::before {
  content: "\e7f7";
}

.i_rotate::before {
  content: "\e66a";
}

.i_scale::before {
  content: "\e60c";
}

.i_move::before {
  content: "\e698";
}

.i_height::before {
  content: "\e61f";
}

.i_width::before {
  content: "\ee1a";
}

.i_bar::before {
  content: "\e61a";
}

.i_map::before {
  content: "\e619";
}

.i_screen::before {
  content: "\e617";
}

.i_threeD::before {
  content: "\e651";
}

.i_mapping::before {
  content: "\e61e";
}

.i_block::before {
  content: "\e693";
}

.i_map_2::before {
  content: "\e8ad";
}

.i_share::before {
  content: "\e626";
}

.i_comment::before {
  content: "\e612";
}

.i_praise::before {
  content: "\e62a";
}

.i_all::before {
  content: "\e684";
}

.i_rename::before {
  content: "\e63a";
}

.i_more::before {
  content: "\e611";
}

.i_save1::before {
  content: "\e6cb";
}

.i_email::before {
  content: "\e60b";
}

.i_clock::before {
  content: "\e64e";
}

.i_update::before {
  content: "\e7cb";
}

.i_collect::before {
  content: "\e625";
}

.i_exit::before {
  content: "\e892";
}

.i_chart::before {
  content: "\eb96";
}

.i_event::before {
  content: "\e610";
}

.i_success::before {
  content: "\e60a";
}

.i_slide_right::before {
  content: "\e679";
}

.i_close_line::before {
  content: "\e6ea";
}

.i_register::before {
  content: "\e6d6";
}

.i_login::before {
  content: "\e609";
}

.i_circle_item::before {
  content: "\e843";
}

.i_pointer::before {
  content: "\e642";
}

.i_progress::before {
  content: "\e614";
}

.i_gauge_chart::before {
  content: "\e60d";
}

.i_funnel::before {
  content: "\e8bf";
}

.i_triangle::before {
  content: "\e63b";
}

.i_rect::before {
  content: "\e64a";
}

.i_html::before {
  content: "\e6e8";
}

.i_png::before {
  content: "\e627";
}

.i_object::before {
  content: "\e663";
}

.i_js::before {
  content: "\e60f";
}

.i_component::before {
  content: "\e652";
}

.i_close::before {
  content: "\e66f";
}

.i_jia::before {
  content: "\e606";
}

.i_manage::before {
  content: "\e641";
}

.i_radar_line::before {
  content: "\e666";
}

.i_sarea::before {
  content: "\e615";
}

.i_gsline::before {
  content: "\e858";
}

.i_num::before {
  content: "\e640";
}

.i_tick::before {
  content: "\e9cd";
}

.i_sline::before {
  content: "\e62d";
}

.i_kline_chart::before {
  content: "\e60e";
}

.i_line::before {
  content: "\ee19";
}

.i_bg::before {
  content: "\e8fa";
}

.i_angleAxis::before {
  content: "\e628";
}

.i_point_chart::before {
  content: "\e622";
}

.i_pie_chart::before {
  content: "\e602";
}

.i_bar_chart::before {
  content: "\e929";
}

.i_line_chart::before {
  content: "\e70f";
}

.i_gline::before {
  content: "\e8a9";
}

.i_text::before {
  content: "\e649";
}

.i_pie::before {
  content: "\eb95";
}

.i_canvas::before {
  content: "\e746";
}

.i_params::before {
  content: "\e607";
}

.i_angle::before {
  content: "\e621";
}

.i_radiusAxis::before {
  content: "\e604";
}

.i_circle::before {
  content: "\e653";
}

.i_home::before {
  content: "\e62e";
}

.i_step_right::before {
  content: "\e608";
}

.i_document::before {
  content: "\e7d0";
}

.i_right::before {
  content: "\e624";
}

.i_refresh::before {
  content: "\e67b";
}

.i_save::before {
  content: "\e67c";
}

.i_top::before {
  content: "\e665";
}

.i_down::before {
  content: "\e66b";
}

.i_edit::before {
  content: "\e8ac";
}

.i_data::before {
  content: "\e8b9";
}

.i_delete::before {
  content: "\e601";
}

.i_plus::before {
  content: "\eb89";
}

.i_legend::before {
  content: "\e762";
}

.i_color::before {
  content: "\e630";
}

.i_grid::before {
  content: "\e655";
}

.i_mark::before {
  content: "\e662";
}

.i_Y::before {
  content: "\e6eb";
}

.i_X::before {
  content: "\e6ec";
}

.i_title::before {
  content: "\e61d";
}

.i_loading::before {
  content: "\e676";
}

.i_code::before {
  content: "\e7ae";
}

.i_hide::before {
  content: "\e603";
}

.i_show::before {
  content: "\e6bb";
}