@font-face {
  font-family: "iconfont"; /* Project id 3670180 */
  src: url('//at.alicdn.com/t/c/font_3670180_v5er29glvd9.woff2?t=1688721782063') format('woff2'),
  url('//at.alicdn.com/t/c/font_3670180_v5er29glvd9.woff?t=1688721782063') format('woff'),
  url('//at.alicdn.com/t/c/font_3670180_v5er29glvd9.ttf?t=1688721782063') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_html:before {
  content: "\e6e8";
}

.i_png:before {
  content: "\e627";
}

.i_object:before {
  content: "\e663";
}

.i_js:before {
  content: "\e60f";
}

.i_component:before {
  content: "\e652";
}

.i_close:before {
  content: "\e66f";
}

.i_jia:before {
  content: "\e606";
}

.i_manage:before {
  content: "\e641";
}

.i_radar_line:before {
  content: "\e666";
}

.i_sarea:before {
  content: "\e615";
}

.i_gsline:before {
  content: "\e858";
}

.i_num:before {
  content: "\e640";
}

.i_tick:before {
  content: "\e9cd";
}

.i_sline:before {
  content: "\e62d";
}

.i_radar_chart:before {
  content: "\e613";
}

.i_kline_chart:before {
  content: "\e60e";
}

.i_line:before {
  content: "\ee19";
}

.i_bg:before {
  content: "\e8fa";
}

.i_angleAxis:before {
  content: "\e628";
}

.i_point:before {
  content: "\e605";
}

.i_point_chart:before {
  content: "\e622";
}

.i_pie_chart:before {
  content: "\e602";
}

.i_bar_chart:before {
  content: "\e929";
}

.i_line_chart:before {
  content: "\e70f";
}

.i_gline:before {
  content: "\e8a9";
}

.i_text:before {
  content: "\e649";
}

.i_pie:before {
  content: "\eb95";
}

.i_canvas:before {
  content: "\e746";
}

.i_params:before {
  content: "\e607";
}

.i_angle:before {
  content: "\e621";
}

.i_radiusAxis:before {
  content: "\e604";
}

.i_circle:before {
  content: "\e653";
}

.i_home:before {
  content: "\e62e";
}

.i_step_right:before {
  content: "\e608";
}

.i_document:before {
  content: "\e7d0";
}

.i_right:before {
  content: "\e624";
}

.i_refresh:before {
  content: "\e67b";
}

.i_save:before {
  content: "\e67c";
}

.i_upload:before {
  content: "\e665";
}

.i_download:before {
  content: "\e66b";
}

.i_delete_2:before {
  content: "\e8c1";
}

.i_edit:before {
  content: "\e8ac";
}

.i_data:before {
  content: "\e8b9";
}

.i_delete:before {
  content: "\e601";
}

.i_plus:before {
  content: "\eb89";
}

.i_legend:before {
  content: "\e762";
}

.i_color:before {
  content: "\e630";
}

.i_grid:before {
  content: "\e655";
}

.i_mark:before {
  content: "\e662";
}

.i_Y:before {
  content: "\e6eb";
}

.i_X:before {
  content: "\e6ec";
}

.i_title:before {
  content: "\e61d";
}

.i_loading:before {
  content: "\e676";
}

.i_code:before {
  content: "\e7ae";
}

.i_hide:before {
  content: "\e603";
}

.i_show:before {
  content: "\e6bb";
}

.i_map:before {
  content: "\e868";
}

.i_bar:before {
  content: "\e600";
}
