@navColor: #303030;
@curColor: rgb(66, 66, 66);
@theme: #f8b557;
@hover: #efa22e;
@grey: #444444;
@grey2: #e8e8e8;

.flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputStyle() {
  .el-input {
    width: 300px;

    .el-input__wrapper {
      box-shadow: 0 0 0 1px @grey2;
      padding: 5px 11px;

      input {
        color: #000;
      }

      input::placeholder {
        font-size: 13px;
      }
    }

    .is-focus {
      box-shadow: 0 0 0 1px @theme !important;
    }
  }
}

.el-button-style() {
  .el-button--primary.is-plain {
    border: 1px solid #96703b;
  }
}
